@import "../../styles/base";

.container {
  @include body;
  @include directionY;
  background-color: $color-dark-black;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  background-image: url('https://res.cloudinary.com/dwvzfit8v/image/upload/v1662233711/Invitation%20Assets/Mela%27s/BG_ajbc0q.webp');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
    @include apply-at-sm-md-size {
      height: 100vh;
      overflow-y: hidden;
      background-repeat: no-repeat;
      background-position: center;
    }
    .wraper {
    @include directionY;
    align-items: center;
    justify-content: center;
    height: 80%;
    .logo {
      width: 85%;
      margin-top: 10%;
    }
    .textWrapper {
      text-align: center;
      font-size: 12px;
      width: 100%;
      color: $color-light-shade-of-orange;
      .name {
        @include useInter;
        line-height: 15px;
      }
      .invitingText {
        @include useInter;
      }
    }
    .banner {
      width: 80%;
    }
    .instruction {
      @include useInter;
      font-size: 10px;
      opacity: 0.9;
      font-weight: 600;
      line-height: 15px;
      color: $color-light-shade-of-orange;
      filter: blur(0.2px);
    }
  }
  .btn {
    @include content-center;
    width: 230px;
    height: 60px;
    cursor: pointer;
    @include apply-at-sm-size {
      margin-bottom: 25%;
    }
  }
}
