@import "../../styles/base";

.container {
  @include body;
  @include directionY;
  background-color: $color-dark-black;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
    @include apply-at-sm-md-size {
      height: 100vh;
      overflow-y: hidden;
      background-repeat: no-repeat;
      background-position: center;
    }
    .wraper {
    @include directionY;
    align-items: center;
    justify-content: center;
    height: 80%;
    @include apply-at-sm-md-size {
      height: 60%;

    }
    img {
      margin-top: 4%;
      @include apply-at-sm-md-size {
        margin-top: 10%;
      }
    }
  }
  .btn {
    width: 230px;
    height: 60px;
    @include content-center;
    cursor: pointer;
    @include apply-at-sm-size {
      margin-bottom: 25%;
    }
  }
}
