@import "../../styles/base";

.popupWrapper {
  @include body;
  color: $color-dark-green;
  background-color: $color-broken-white;
  .closeIcon {
    position: absolute;
    top: 2%;
    background-color: $color-dark-green;
    cursor: pointer;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    color: $color-light-green;
    opacity: 0.8;
    right: 3%;
  }

  .popupTitleWrapper {
    color: $color-dark-green;

    font-size: 15px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 12px;
    p {
      margin-top: -1px;
    }
    .headerImg {
      width: 80px;
    }
  }
  .subtitle {
    @include directionX;
    @include content-center;
    font-size: 12px;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
  }
  .form {
    @include directionY;
    color: $color-dark-green;

    .separate {
      justify-content: space-between;
      @include directionY;
      .column {
        @include directionY;
        input {
          @include body;
          color: $color-broken-white;

          height: 25px;
          margin-top: 1%;
          margin-bottom: 2%;
          border-radius: 10px;
          margin-right: 20px;
          background-color: $color-dark-green;
          border: 1px solid $color-dark-green;
          width: 95%;
          font-size: 10px;
          padding-left: 10px;
          @include apply-at-md-lg-size {
            width: 92%;
          }
        }
      }
      .disabled {
        opacity: 0.5;
      }
      select {
        @include body;
        background-color: $color-dark-green;
        color: $color-broken-white;
        margin-top: 1%;
        margin-bottom: 2%;
        height: 30px;
        padding: 0 15px;
        border-radius: 10px;
        width: 99.5%;
        font-size: 10px;
        padding-left: 5px;
        border: none;
        @include apply-at-md-lg-size {
          width: 98%;
        }
      }
      ::-webkit-input-placeholder {
        color: $color-broken-white;

      }
      select:focus {
        outline: none !important;
        border-color: $color-dark-green;
        box-shadow: 0 0 8px $color-dark-green;
      }
      input:focus {
        outline: none !important;
        border-color: $color-dark-green;
        box-shadow: 0 0 8px $color-dark-green;
      }
    }
  }
  label {
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 10px;
  }
  input {
    @include body;
    color: $color-broken-white;
    height: 25px;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: $color-dark-green;

    border: 1px solid $color-dark-green;
    width: 95%;
    font-size: 10px;
    padding-left: 10px;
    @include apply-at-md-lg-size {
      width: 92%;
    }
  }
  .disabled {
    opacity: 0.5;
  }
  textarea {
    @include body;
    color: $color-broken-white;

    padding-left: 15px;
    padding-top: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 16px;
    background-color: $color-dark-green;
    border: 1px solid $color-dark-green;
    width: 95%;
    height: 0%;
    font-size: 10px;
    @include apply-at-md-lg-size {
      width: 92%;
    }
  }
  ::-webkit-input-placeholder {
  color: $color-dark-green;

  }
  input:focus {
    outline: none !important;
    border-color: $color-dark-green;
    box-shadow: 0 0 8px $color-dark-green;
  }
  textarea:focus {
    outline: none !important;
    border-color: $color-dark-green;
    box-shadow: 0 0 8px $color-dark-green;
  }
  .infoWrapper {
    @include directionX;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 0%;
    a {
      .whatsapp {
        width: 35px;
        height: 35px;
      }
    }
    .actionBtn {
      @include body;
      font-size: 13px;
      width: 75px;
      border-radius: 6px;
      border: 1px solid $color-dark-green;
      background-color: $color-dark-green;
      color: $color-broken-white;
    }
  }
}
