@import "../../styles/base";

.popupWrapper {
  @include apply-at-md-lg-size {
    width: 360px;
  }
  .prokesTitle {
    @include body;
    color: $color-gold;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    margin-top: -3%;
    font-size: 16px;
    margin-bottom: 20%;
    p {
      color: $color-gold;
    }
  }
  .prokesTop {
    @include directionX;
    justify-content: space-around;
    color: $color-gold;
    font-size: 10px;
    line-height: 16px;
    width: 100%;
    margin-bottom: 1%;
    text-align: center;
    .iconWrapperPopup {
      @include directionY;
      align-items: center;
      width: 40%;
      img {
        @include content-center;
        width: 50px;
        height: 40px;
      }
    }
  }
  .prokesBottom {
    @include directionX;
    justify-content: space-around;
    color: $color-gold;
    font-size: 10px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    .iconWrapperPopup {
      @include directionY;
      align-items: center;
      width: 40%;
      img {
        @include content-center;
        width: 50px;
        height: 40px;
      }
    }
  }
  .appeal {
    margin-top: 5%;
    margin-bottom: 5%;
    color: $color-gold;
    text-align: center;
    line-height: 23.05px;
    font-size: 10px;
  }
  .closePopupBtn {
    @include body;
    @include directionX;
    @include content-center;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    color: $color-gold;
    border: 1px solid $color-gold;
    border-radius: 53px;
    max-height: 53px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 4%;
    width: 74px;
    font-size: 12px;
    height: 26px;
  }
}
