@import "../../styles/base";
.popupWrapper {
  @include apply-at-md-lg-size {
    width: 360px;
  }
  @include useAladin;
  color: $color-dark-green;
  font-size: 14px;
  .prokesTitle {
    @include body;
    color: $color-dark-green;
  }
  .content {
    text-align: left;
    margin-top: -2%;
    ol {
      margin: 0;
      padding: 0 0 0 7%;
      li {
        padding-left: 1%;
        .iconMic {
          // border: 1px solid red;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .closePopupBtn {
    @include body;
    @include directionX;
    float: right;
    align-items: center;
    justify-content: center;
    background-color: $color-dark-green;
    color: $color-broken-white;
    border-radius: 100px;
    max-height: 53px;
    cursor: pointer;
    margin-top: 5%;
    width: 74px;
    height: 26px;
  }
}
