@import "../../styles/base";
.container {
  @include body;
  background-color: $color-black;
  overflow-x: hidden;
  @include apply-at-md-lg-size {
    width: 360px;
    @include content-center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-gold;
      border-radius: 20px;
    }
  }
  .invitationContainer {
    .header {
      @include directionY;
      @include parallax;
      height: 100%;
      width: 100%;
      top: 0;
      border: none;
      object-fit: cover;
      background-repeat: no-repeat;
      border-bottom: 1px solid $color-gold;
      background-image: url("../../static/images/mainimage-sm.png");
      height: 240px;
      justify-content: flex-end;
      @include apply-at-sm-md-size {
        background-size: contain;
      }
      .countdown {
        @include directionX;
        @include content-center;
        border: 1.93103px solid $color-dark-brown;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 28.5491px 28.5491px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(30px);
        width: 30%;
        // padding-top: 2px;
        // padding-bottom: 5px;
        justify-content: space-around;
        color: $color-white;
        margin-bottom: 3%;

        // @include apply-at-sm-md-size {
        padding: 8px;
        width: 55%;
        text-align: center;
        margin-bottom: 5%;
        // }
        .countdownItem {
          border-radius: 20px;
          // @include apply-at-sm-md-size {
          font-size: 9px;
          width: 42px;
          height: 40px;
          // }
          .countdownTime {
            // font-size: 35px;
            text-align: center;
            // @include apply-at-sm-md-size {
            font-size: 15px;
            @include useForum;
            line-height: 21.16px;
            margin-bottom: 4%;
            // }
          }
          .countdownInterval {
            // font-size: 26px;
            // @include apply-at-sm-md-size {
            // border: 1px solid yellow;
            // letter-spacing: 0.1em;

            margin: 0;
            font-size: 15px;
            @include useForum;
            line-height: 21.16px;
            // @include useMerienda;
            // font-weight: 100;
            // }
          }
        }
      }
    }
    .biographyContainer {
      background-image: url("../../static/images/profile-bg.png");
      background-size: contain;
      padding-top: 2rem;
      padding-bottom: 2rem;
      .biofemaleWrapper,
      .bioMaleWrapper {
        @include directionY;
        align-items: center;
        img {
          width: 70%;
        }
        .contentWrapper {
          background-image: url("../../static/images/bg-bio.png");
          background-position: center center;
          background-repeat: no-repeat;
          .bioTitle {
            text-align: center;
            font-size: 16px;
          }
          .bioDesc {
            @include content-center;
            border-radius: 23px;
            text-align: center;
            font-size: 16px;
            width: 70%;
            background: rgba(207, 183, 132, 0.2);
            padding: 1rem;
            margin-bottom: 26px;
          }
        }
      }
    }
    .invocationContainer {
      img {
        border-top: 1px solid $color-dark-brown;
        border-bottom: 1px solid $color-dark-brown;
        width: 100%;
        min-height: 281px;
      }
    }
    .bridesContainer {
      @include directionY;
      align-items: center;
      justify-content: space-around;
      background-image: url("../../static/images/brides-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      padding: 2rem 0;
      margin-top: -1.5%;

      .left {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25%;
        width: 90%;
        img {
          // width: 80%;
          // @include apply-at-md-lg-size {
          width: 203px;
          // }
          align-self: flex-end;
        }
        .desc {
          align-self: flex-start;
          width: 80%;
          text-align: left;
          .first {
            padding-left: 26%;
          }
          .second {
            margin-top: -2%;
            margin-bottom: -4%;
          }
          .third {
            padding-left: 13%;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        img {
          // width: 80%;
          // @include apply-at-md-lg-size {
          width: 203px;
          // }

          align-self: flex-start;
        }
        .desc {
          align-self: flex-end;
          width: 80%;
          text-align: right;
          .first {
            padding-right: 20%;
          }
          .second {
            margin-top: -2%;
            margin-bottom: -4%;
          }
          .third {
            padding-right: 13%;
          }
        }
      }
    }
    .galleryContainer {
      background-image: url("../../static/images/gallery-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 2rem 0 2.5rem 0;

      .topContent {
        @include directionY;
        @include content-center;
        width: 90%;
        margin-bottom: 10px;
        gap: 10px;

        .upper {
          @include directionX;
          justify-content: space-between;
          margin-bottom: 4px;
          gap: 10px;
          .imageUpperLeft {
            width: 35%;
          }
          .imageUpperRight {
            width: 65%;
          }
        }
        .lower {
          @include directionX;
          justify-content: space-between;
          // justify-content: space-around;
          gap: 10px;
          .imageLowerLeft {
            width: 50%;
          }
          .imageLowerRight {
            width: 50%;
          }
        }
      }
      .midContent {
        @include directionX;
        @include content-center;
        margin-top: 4px;
        margin-bottom: 10px;
        width: 90%;
        gap: 10px;
        .left {
          @include directionY;
          justify-content: space-between;
          width: 60%;
          padding: 0;
          .top {
            width: 100%;
            .imageMidLeftTop {
              width: 100%;
            }
          }
          .imageMidLeftBottom {
            width: 100%;
          }
        }
        .right {
          width: 40%;
          gap: 10px;
          @include directionY;
          justify-content: space-between;
          .top {
            width: 100%;
            .imageMidRightTop {
              width: 100%;
            }
          }
          .imageMidRightBottom {
            width: 100%;
          }
        }
      }
      .bottomContent {
        @include directionY;
        @include content-center;
        width: 90%;
        .upper {
          @include directionX;
          justify-content: space-between;
          margin-bottom: 12px;
          gap: 10px;
          .bottomUpperTop {
            width: 35%;
          }
          .bottomUpperBottom {
            width: 70%;
          }
        }
      }
    }
    .event {
      height: 100%;
      width: 100%;
      .bgWrapper {
        background-image: url("../../static/images/event-bg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        .greeting {
          // @include apply-at-sm-md-size {
          @include content-center;
          width: 95%;
          // }
          p {
            // font-size: 29px;
            text-align: center;
            // @include apply-at-sm-md-size {
            font-size: 15px;
            line-height: 24px;
            // }
          }
          .subtitle {
            // @include apply-at-sm-md-size {
            font-size: 13px;
            font-weight: normal;
            // }
          }
        }
        .details {
          .titleWraper {
            margin-top: 5%;
            .title {
              @include directionX;
              @include content-center;
              align-items: center;
              justify-content: center;
              // width: 300px;
              // font-size: 35px;
              padding-bottom: 14px;
              border-bottom: 1px solid $color-gold;
              // @include apply-at-sm-md-size {
              margin-top: 10%;
              font-size: 14px;
              width: 40%;
              // }
            }
          }
          .calender {
            @include directionY;
            @include content-center;
            align-items: center;
            // width: 20%;
            margin-bottom: 3%;
            // @include apply-at-sm-md-size {
            margin-top: 8%;
            font-size: 12px;
            width: 50%;
            // }
            p {
              width: 220px;
              text-align: center;
              // margin-top: 6%;
              // @include apply-at-sm-md-size {
              margin-top: 8%;
              // }
            }
            img {
              @include apply-at-sm-md-size {
                width: 35px;
              }
            }
          }
          .btnCalendarWrapper {
            @include content-center;
            border: 1px solid #cfb784;
            padding: 0 10px;
            width: 120px;
            font-size: 12px;
            text-align: center;
            border-radius: 8px;
          }
          .timesWraper {
            @include directionX;
            // @include content-center;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 3%;
            .time {
              @include directionY;
              align-items: center;
              border-bottom: 1px solid $color-gold;
              width: 26%;
              p {
                width: 100%;
                text-align: center;
              }
            }
            .timeMobileWrapper {
              @include content-center;
              margin-top: 8%;
              text-align: center;
              font-size: 12px;

              img {
                // @include apply-at-sm-md-size {
                width: 35px;
                // }
              }
              .separator {
                // border: 1px solid red;
                // @include apply-at-sm-md-size {
                height: 1px;
                background: $color-gold;
                margin-top: -10px;
                margin-bottom: -10px;
                // }
              }
            }
          }
        }
      }
      .locationWraper {
        @include directionY;
        @include content-center;
        align-items: center;
        margin-bottom: 2%;
        // width: 28%;
        // border-bottom: 1px solid $color-gold;
        // @include apply-at-sm-md-size {
        // width: 60%;
        font-size: 12px;
        margin-top: 8%;
        // }
        p {
          width: 100%;
          text-align: center;
          // @include apply-at-sm-md-size {
          margin-top: 8%;
          // }
        }
        img {
          // @include apply-at-sm-md-size {
          width: 30px;
          // }
        }
      }
      .btnmap {
        @include content-center;
        @include directionX;
        align-items: center;
        justify-content: center;
        // width: 255px;
        padding: 0px 10px;
        margin-bottom: 10%;
        // font-size: 25px;
        border: 1px solid $color-gold;
        // border-radius: 20px;
        cursor: pointer;
        // @include apply-at-sm-md-size {
        max-width: 145px;
        font-size: 12px;
        height: 30px;
        border-radius: 10px;
        // margin-top: 10%;
        // }
        .imageWrapper {
          // width: 20%;
          @include directionX;
          align-items: center;
          justify-content: center;
          img {
            // @include apply-at-sm-md-size {
            width: 20px;
            // }
          }
        }
        p {
          color: $color-gold;
          text-decoration: none;
          // @include apply-at-sm-md-size {
          width: 80%;
          text-align: center;
          // }
        }
      }
      .topEvent {
        @include directionX;
        @include content-center;
        margin-top: 8%;
        margin-bottom: 5%;
        @include apply-at-sm-md-size {
          width: 187px;
        }
      }
    }
    .attendingContainer {
      background-image: url("../../static/images/message-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-top: 1px solid $color-dark-brown;
      border-bottom: 1px solid $color-dark-brown;

      .title {
        @include body;
        @include content-center;
        margin-top: 5%;
        // margin-left: 15%;
        // font-size: 30px;
        // @include apply-at-sm-md-size {
        font-size: 16px;
        text-align: center;
        text-decoration-line: underline;
        text-underline-offset: 12px;
        text-decoration-color: $color-dark-brown;
        margin-bottom: 5%;
        width: 90%;
        // }
      }
      .attendingWraper {
        width: 90%;
        @include useMulish;
        // @include directionX;
        @include content-center;
        justify-content: space-between;
        margin-bottom: 5%;
        // @include apply-at-sm-md-size {
        @include reverseDirectionY;
        // }
        .formWraper {
          .dropdownSection {
            // width: 500px;
            @include directionX;
            // justify-content: left;
            align-items: center;
            border-bottom: 1px solid $color-gold;
            cursor: pointer;
            // @include apply-at-sm-md-size {
            width: 100%;
            justify-content: space-between;
            // }
            .formTitle {
              margin-right: 40%;
              // font-size: 24px;
              // @include apply-at-sm-md-size {
              font-size: 12px;
              // }
            }
            .icon {
              img {
                // @include apply-at-sm-md-size {
                width: 12px;
                // }
              }
            }
          }
          .formContainer {
            .inputForm {
              @include useMulish;
              margin-top: 6%;
              color: $color-gold;
              .inputs {
                @include directionY;
                // font-size: 24px;
                p {
                  // @include apply-at-sm-md-size {
                  font-size: 12px;
                  // }
                }
                input {
                  @include useMulish;
                  color: $color-gold;
                  padding-left: 15px;
                  // width: 230px;
                  height: 40px;
                  margin-bottom: 5%;
                  // border-radius: 16px;
                  background-color: $color-black;
                  border: 1px solid $color-gold;
                  // @include apply-at-sm-md-size {
                  width: 95%;
                  border-radius: 10px;
                  font-size: 11px;
                  // }
                }
                textarea {
                  @include useMulish;
                  color: $color-gold;
                  // height: 90px;
                  padding-left: 15px;
                  padding-top: 30px;
                  // border-radius: 16px;
                  background-color: $color-black;
                  border: 1px solid $color-gold;
                  // @include apply-at-sm-md-size {
                  font-size: 11px;
                  height: 86px;
                  border-radius: 10px;
                  // }
                }
                ::-webkit-input-placeholder {
                  color: $color-gold;
                }
                input:focus {
                  outline: none !important;
                  border-color: $color-dark-brown;
                  box-shadow: 0 0 8px $color-dark-brown;
                }
                textarea:focus {
                  outline: none !important;
                  border-color: $color-dark-brown;
                  box-shadow: 0 0 8px $color-dark-brown;
                }
              }
            }
            .radiosInput {
              @include directionX;
              justify-content: space-between;
              .inputs {
                // @include apply-at-sm-md-size {
                @include directionY;
                font-size: 12px;
                width: 180px;
                margin-top: 2%;
                // }
                .radioWrapper {
                  // @include directionX;
                  width: 100%;
                  // @include apply-at-sm-md-size {
                  @include directionY;
                  // }
                  .radioItem {
                    // @include directionX;
                    margin-right: 10px;
                    accent-color: $color-dark-brown;
                    // @include apply-at-sm-md-size {
                    @include directionX;
                    align-items: center;
                    margin: 2% 0;
                    // }
                    label {
                      // @include apply-at-sm-md-size {
                      font-size: 10px;
                      margin-left: 5%;
                      // }
                    }
                  }
                }
              }
              .btnSend {
                align-self: flex-end;
                // font-weight: bold;
                cursor: pointer;
                // padding: 2%;
                // height: 40px;
                // border-radius: 10px;
                color: $color-gold;
                background-color: $color-black;
                border: 1px solid $color-gold;
                // @include apply-at-sm-md-size {
                padding: 0 3%;
                height: 32px;
                font-size: 12px;
                border-radius: 6px;
                font-weight: normal;
                // }
              }
            }
          }
          .hide {
            opacity: 0;
            transform: translateY(-4%);
            transition: all 1.5s;
          }
          .show {
            opacity: 1;
            transform: translateY(0);
            transition: all 1.5s;
          }
        }
        .expressionSection {
          @include directionY;
          @include body;
          justify-content: center;
          align-items: center;
          @include apply-at-sm-md-size {
            font-size: 14px;
          }
          img {
            // width: 269px;
            // @include apply-at-sm-md-size {
            width: 155px;
            // }
            margin-bottom: 30px;
          }
          .expression {
            text-align: center;
          }
        }
      }
    }
    .messageSectionContainer {
      background-repeat: no-repeat;
      background-size: cover;
      // padding-bottom: 2%;
      border-top: 1px solid $color-dark-brown;
      .sectionTitle {
        @include content-center;
        text-align: center;
        border-bottom: 1px solid $color-gold;
        // width: 20%;
        // font-size: 29px;
        margin-bottom: 5%;
        // @include apply-at-sm-md-size {
        font-size: 14px;
        width: 40%;
        // }
      }
      .mainContent {
        // @include directionX;
        @include content-center;
        // border: 1px solid red;
        align-items: center;
        // justify-content: space-between;
        justify-content: center;
        // width: 90%;
        // @include apply-at-sm-md-size {
        @include reverseDirectionY;
        width: 100%;
        // }
        .leftSection {
          @include directionY;
          justify-content: center;
          padding: 2rem 0;
          background-image: url("../../static/images/message-icon-bg.png");
          // background-image: url("../../static/images/closing-bg.png");
          background-size: cover;
          background-repeat: no-repeat;
          object-fit: cover;

          align-items: center;
          // width: 100%;
          // margin-right: 3%;
          // @include apply-at-sm-md-size {
          width: 100%;
          // }
          img {
            // @include apply-at-sm-md-size {
            width: 170px;
            // }
          }
        }
        .rightSection {
          // width: 50%;
          border: 1px solid red;

          border-radius: 10px;
          // padding: 2% 3%;
          // @include apply-at-sm-md-size {
          width: 100%;
          border: none;
          // }
          .imgWrapper {
            // @include apply-at-sm-md-size {
            width: 100%;
            padding-bottom: 20px;
            // }
            .image {
              @include directionX;
              @include content-center;
              width: 100%;
            }
          }
          .messageWrapper {
            // padding-top: 20px;
            height: 360px;
            overflow-y: scroll;
            // border-top: 1px solid $color-dark-brown;
            border-bottom: 1px solid $color-dark-brown;
            padding-bottom: 1rem;
            &::-webkit-scrollbar {
              width: 2px;
            }
            &::-webkit-scrollbar-thumb {
              background: $color-gold;
              border-radius: 20px;
            }
            .messageItemWrapper {
              @include directionX;
              align-items: center;
              color: $color-black;
              height: auto;
              // @include apply-at-sm-size {
              @include content-center;
              width: 90%;
              // }
              .avatar {
                @include directionX;
                // width: 5%;
                margin: auto;
                // @include apply-at-sm-size {
                align-items: center;
                height: 25px;
                width: 25px;
                margin-right: 5px;
                // }
              }
              .messageShape {
                @include directionX;
                width: 95%;
                align-items: center;
                // padding-left: 1.5rem;
                // @include apply-at-sm-size {
                padding-left: 1rem;
                // }
                .outerTriangle {
                  width: 0;
                  height: 0;
                  border-top: 23px solid transparent;
                  border-bottom: 23px solid transparent;
                  border-right: 23px solid $color-gold;
                  .innerTriangle {
                    position: relative;
                    top: -20px;
                    left: 2px;
                    width: 0;
                    height: 0;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-right: 20px solid $color-black;
                  }
                }
                .messageBubble {
                  margin: 1rem;
                  background-color: $color-black;
                  color: $color-gold;
                  border: 1px solid $color-gold;
                  border-radius: 6px;
                  text-align: left;
                  padding: 20px;
                  // width: 100%;
                  margin-left: -5px;
                  @include useForum;

                  // @include apply-at-sm-size {
                  width: 80%;
                  // }
                  .name {
                    // font-size: 17px;
                    // margin-bottom: 1.5%;
                    // @include apply-at-sm-size {
                    margin-bottom: 0.5rem;
                    font-size: 12px;
                    // }
                  }
                  .message {
                    // @include useMulish;
                    // @include useForum;
                    // font-size: 15px;
                    // @include apply-at-sm-size {
                    font-size: 14px;
                    letter-spacing: 0.005em;
                    // }
                  }
                }
              }
            }
          }
        }
      }
    }
    .giftContainer {
      padding: 2rem 0;
      background-image: url("../../static/images/giftbg.png");
      background-repeat: no-repeat;
      background-size: cover;
      .giftWraper {
        // width: 60%;
        // @include apply-at-sm-md-size {
        width: 100%;
        // }
        @include content-center;
        .tittleRibbon {
          .titleGift {
            // width: 30%;
            @include content-center;
            text-align: center;
            // font-size: 30px;
            // border-bottom: 1px solid $color-gold;
            // @include apply-at-sm-md-size {
            font-size: 16px;
            width: 100%;
            text-decoration-line: underline;
            text-underline-offset: 12px;
            border: none;
            // }
          }
          .ribbon {
            display: flex;
            margin-top: 8%;
            margin-bottom: 8%;
            @include content-center;
            // @include apply-at-sm-md-size {
            // }
          }
        }
        .dropdownSection {
          // width: 30%;
          @include content-center;
          @include directionX;
          justify-content: center;
          // align-items: center;
          margin-bottom: 5%;
          cursor: pointer;
          // @include apply-at-sm-md-size {
          width: 100%;
          align-items: center;
          // }
          .title {
            // font-size: 24px;
            margin-right: 6%;
            // @include apply-at-sm-md-size {
            font-size: 14px;
            // }
          }
          .icon {
            // @include apply-at-sm-md-size {
            margin-top: -5px;
            // }
            img {
              // @include apply-at-sm-md-size {
              width: 10px;
              height: 6px;
              // }
            }
          }
        }
        .giftInfoWraper {
          @include directionY;
          .imageDetail {
            @include useMerienda;
            @include directionY;
            // .rose {
            //   display: flex;
            //   @include content-center;
            //   // width: 204px;
            //   margin-bottom: 5%;
            //   // @include apply-at-sm-md-size {
            //   width: 85px;
            //   // }
            // }
            .card {
              display: flex;
              @include content-center;
              margin-bottom: 10%;
              // @include apply-at-sm-md-size {
              width: 270px;
              // }
            }
            .copyWraperTop {
              // position: relative;
              // @include directionX;
              // justify-content: center;
              // align-items: center;
              // margin-bottom: 5%;
              // @include content-center;
              // border: 1px solid blue;

              position: relative;
              @include directionX;
              @include content-center;
              justify-content: center;
              align-items: center;
              margin-bottom: 5%;
              width: 90%;
              .copy {
                // top: 10px;
                position: absolute;
                // width: 115px;
                cursor: pointer;
                // @include apply-at-sm-md-size {
                width: 100px;
                top: 5px;
                // }
              }
              .notifCopyTop {
                position: absolute;
                // right: -110px;
                text-align: center;
                top: 0;
                // @include useForum;
                // border: 1px solid red;
                // @include apply-at-sm-md-size {
                font-size: 12px;
                left: 210px;
                // left: 10%;
                // top: -5px;
                right: 25px;

                // position: absolute;
                // // right: -110px;
                // border: 1px solid yellow;
                // top: 0;
                // // @include useForum;
                // // border: 1px solid red;
                // // @include apply-at-sm-md-size {
                // font-size: 12px;
                // left: 310px;
                // // left: 10%;
                // // top: -5px;
                // right: 25px;
                // // z-index: 3;
                // // }
              }
            }
          }
          .infoWrapper {
            margin: 20px 0;
            // padding-bottom: 40px;
            @include useMerienda;
            text-align: center;
            // @include apply-at-sm-md-size {
            @include content-center;
            padding-bottom: 35px;
            width: 90%;
            // }
            .infoTitle {
              // font-size: 30px;
              display: flex;
              @include content-center;
              justify-content: center;

              // @include apply-at-sm-md-size {
              font-size: 16px;
              text-align: center;
              // }
            }
            .infoDetail {
              // font-size: 18px;
              @include content-center;
              text-align: center;
              // @include apply-at-sm-md-size {
              font-size: 12px;
              // }
            }
            .copyWraper {
              position: relative;
              @include directionX;
              @include content-center;
              justify-content: center;
              align-items: center;
              margin-bottom: 5%;
              .copy {
                // top: 10px;
                position: absolute;
                // width: 115px;
                cursor: pointer;
                // @include apply-at-sm-md-size {
                width: 100px;
                top: 5px;
                // }
              }
              .notifCopy {
                position: absolute;
                // right: -110px;
                top: 0;
                // @include useForum;
                // border: 1px solid red;
                // @include apply-at-sm-md-size {
                font-size: 12px;
                left: 210px;
                // left: 10%;
                // top: -5px;
                right: 25px;

                // }
              }
            }
          }
          // .copyWraper {
          //   position: relative;
          //   @include directionX;
          //   justify-content: center;
          //   align-items: center;
          //   margin-bottom: 5%;
          //   @include content-center;
          //   .copy {
          //     // @include apply-at-sm-md-size {
          //     width: 100px;
          //     // }
          //     position: absolute;
          //     // width: 115px;
          //     cursor: pointer;
          //   }
          //   .notifCopy {
          //     position: absolute;
          //     text-align: center;
          //     // left: 75px;
          //     // @include apply-at-sm-md-size {
          //     font-size: 14px;
          //     border: 1px solid red;

          //     // left: 70px;
          //     // border: 1px solid red;
          //     // }
          //   }
          // }

          .closingStatement {
            @include useMerienda;
            // font-size: 18px;
            @include content-center;
            // @include apply-at-sm-md-size {
            font-size: 12px;
            // }
          }
          .btnConfirmation {
            display: flex;
            @include content-center;
            justify-content: center;
            align-items: center;
            padding: 0 5%;
            // min-height: 37px;
            border-radius: 10px;
            border: 1px solid $color-gold;
            // font-size: 18px;
            margin-bottom: 1%;
            cursor: pointer;
            // @include apply-at-sm-md-size {
            font-size: 12px;
            min-height: 25px;
            // }
          }
        }
        .hideGift {
          opacity: 0;
          transition: opacity 2s;
        }
        .closeGift {
          display: none;
        }
        .showGift {
          @include fadeIn;
        }
      }
    }
    .closingSectionContainer {
      @include directionY;
      @include useForum;
      // padding-bottom: 20px;
      padding: 10% 0;
      // margin-top: -20px;
      // padding: 20px 0;
      justify-content: space-between;
      // border: 1px solid red;
      align-items: center;
      // background-image: url("../../static/images/closing-bg.png");
      background-image: url("../../static/images/message-icon-bg.png");

      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      // border-top: 1px solid $color-dark-brown;
      // margin-top: -10px;
      .leftSection {
        // border: 1px solid red;
        margin-bottom: 5%;
        // @include directionY;
        // justify-content: center;
        // padding: 2rem 0;
        // background-image: url("../../static/images/message-icon-bg.png");
        // background-image: url("../../static/images/closing-bg.png");
        // background-size: cover;
        // background-repeat: no-repeat;
        // object-fit: cover;

        // align-items: center;
        // width: 100%;
        // margin-right: 3%;
        // @include apply-at-sm-md-size {
        // width: 100%;
        // }
        img {
          // @include apply-at-sm-md-size {
          width: 170px;
          // }
        }
      }
      .closingSentenceWrapper {
        @include content-center;
        // font-size: 30px;
        // width: 100%;
        // margin-bottom: -25px;
        // @include apply-at-sm-md-size {
        font-size: 12px;
        width: 100%;
        margin-bottom: 0;
        font-weight: lighter;
        // }
      }
    }
    .footerContainer {
      @include useForum;
      // @include directionY;
      // justify-content: center;
      // justify-content: space-around;
      // align-items: center;
      margin-bottom: 1%;
      border-top: 1px solid $color-dark-brown;
      .footerTitle {
        gap: 10px;
        padding: 5% 0 2%;
        @include directionY;
        align-items: center;
        // border: 1px solid red;
        // border: 1px solid red;
        // width: 28%;
        justify-content: space-around;
        .colaboration {
          // font-size: 38px;
          color: $color-dark-brown;
          // @include apply-at-sm-md-size {
          font-size: 14px;
          line-height: 12px;
          // }
        }
        .brand {
          // margin-top: -2%;
          // margin-left: -2%;
          // margin-bottom: 2%;
          // @include apply-at-sm-md-size {
          // width: 80px;
          // }
          // border: 1px solid blue;
          height: 100%;
          width: 90px;
        }
        .contact {
          // width: 30px;
          // height: 30px;
          margin-bottom: 2%;
          // @include apply-at-sm-md-size {
          width: 20px;
          height: 20px;
          // }
        }
      }
    }
    .my-swal {
      z-index: 10000 !important;
    }
    .swal-overlay {
      z-index: 100000000000 !important;
    }
    :host ::ng-deep .swal-overlay {
      z-index: 30000000000 !important;
    }
  }
}
