@import "../../styles/base";
.container {
  @include body;
  background-color: $color-broken-white;
  overflow-x: hidden;
  @include apply-at-md-lg-size {
    width: 360px;
    @include content-center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-gold;
      border-radius: 20px;
    }
  }
  .invitationContainer {
    .newHeader {
      .backgroundImg {
        img {

          width: 100%;
        }
      }
      .countdown {
        @include directionX;
        @include content-center;
        border: 1.93103px solid rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 28.5491px 28.5491px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(30px);
        width: 30%;
        justify-content: space-around;
        color: $color-white;
        padding: 8px;
        width: 55%;
        text-align: center;
        margin-bottom: 5%;
        margin-top: -25%;
        .countdownItem {
          border-radius: 20px;
          font-size: 9px;
          width: 42px;
          height: 40px;
          .countdownTime {
            @include useChewy;
            text-align: center;
            font-size: 15px;
            line-height: 21.16px;
            margin-bottom: 4%;
          }
          .countdownInterval {
            margin: 0;
            font-size: 15px;
            @include useChewy;
            line-height: 21.16px;
            .text {
              margin: 0;
            }
          }
        }
      }
    }
    .header {
      @include directionY;
      @include parallax;
      height: 100%;
      width: 100%;
      top: 0;
      border: none;
      object-fit: cover;
      background-image: url("../../static/images/mainimage-sm.png");
      height: 255px;
      justify-content: flex-end;
      background-size: 360px 255px;
      background-position: center top;
      background-repeat: no-repeat;
      @include apply-at-sm-size {
        background-size: contain;
        max-height: 290px;
        background-position: center top;
      }
      .countdown {
        @include directionX;
        @include content-center;
        border: 1.93103px solid rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 28.5491px 28.5491px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(30px);
        width: 30%;
        justify-content: space-around;
        color: $color-white;
        padding: 8px;
        width: 55%;
        text-align: center;
        margin-bottom: 5%;
        .countdownItem {
          border-radius: 20px;
          font-size: 9px;
          width: 42px;
          height: 40px;
          .countdownTime {
            @include useChewy;
            text-align: center;
            font-size: 15px;
            line-height: 21.16px;
            margin-bottom: 4%;
          }
          .countdownInterval {

            margin: 0;
            font-size: 15px;
            @include useChewy;
            line-height: 21.16px;
            .text {
              margin: 0;
            }

          }
        }
      }
    }
    .firstQuoteContainer {
      background-color: $color-dark-green;
      padding-top: 5%;
      padding-left: 2%;
      padding-right: 2%;
      .topQuote {
        text-align: center;
        font-size: 14px;
      }
      .bottomQuotesSection {
        @include directionY;
        align-items: center;
        .quoteImg {
          position: relative;
          margin-top: -3%;
          margin-left: 10%;
          .image {
          }
        }
        .bottomQuote {
          font-size: 14px;
          margin-top: -16%;
          z-index: 2;
          text-align: center;
        }

      }
    }
    .secondQuoteContainer {
      background-color: $color-broken-white;
      background-image: url("../../static/images/second-quote-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      color: $color-dark-green;
      object-fit: cover;
      min-height: 185px;
      background-position: center bottom;
      padding-bottom: 10px;
      @include apply-at-md-lg-size {
        background-position: center;
        background-size: 360px 265px;
      }
      .top {
        text-align: right;
        padding-right: 5%;
        padding-top: 5px;
        @include apply-at-md-lg-size {
          padding-top: 2px;
        }
      }
      .bottom {
        @include directionX;
        @include useDamion;
        text-align: center;
        justify-content: space-between;
        padding-left: 5%;
        font-size: 15px;
      }
    }
    .thirdQuoteContainer {
      background-color: $color-dark-green;
      padding: 5% 2%;
      text-align: center;
    }
    .maleBiography {
      padding: 5% 0;
      text-align: center;
      background-color: $color-broken-white;
      color: $color-dark-green;
      img {
        margin-left: -5%;
      }
      .name {
        @include useDamion;
        color: $color-dark-gray;
        line-height: 20px;
        font-size: 20px;
      }
      .subName {
        @include useAladin;
        font-size: 14px;
        color: $color-dark-green;
      }
    }
    .femaleBiography {
      padding: 5% 0;
      text-align: center;
      background-color: $color-dark-green;
      color: $color-dark-green;
      img {
        margin-left: 5%;
      }
      .name {
        @include useDamion;
        color: $color-light-green;
        line-height: 20px;
        font-size: 20px;
      }
      .subName {
        @include useAladin;
        font-size: 14px;
        color: $color-broken-white;
      }
    }
    .galleryContainer {
      background-color: $color-broken-white;
      padding-left: 2%;
      .iconWrapper {
        padding-left: 2%;
        padding-top: 5%;
        img {
          width: 110px;
        }
      }
      .firstRow {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left {
          @include directionX;
          .firstImg {
            width: 120px;
          }
          .rose {
            height: 128px !important;
            align-self: flex-end;
          }
        }
        .lastItem {
          margin-top: -50%;
          margin-left: 20%;
        }
      }
      .secondRow {
        text-align: right;
        width: 95%;
        img {
          padding-right: 2%;
          margin-top: -20%;
        }
      }
      .thirdRow {
        padding-left: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .thirdImage {
          margin-top: -40%;
          margin-right: 10%;
          width: 110px;
        }
        .fourthImage {
          width: 200px;
          margin-left: 15%;
        }
      }
    }
    .eventContainer {
      width: 100%;
      background-color: $color-broken-white;
      background-image: url("../../static/images/event-bg.png");
      background-position: center;
      padding: 5% 0;
      .bgWrapper {
        background-image: url("../../static/images/event-detail-bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: $color-dark-green;
        width: 95%;
        border-radius: 42px;
        padding: 5% 0;
        @include content-center;
        .greeting {
          @include content-center;
          width: 95%;
          .greetingText {
            @include useChewy;
            text-decoration-line: underline;
            text-underline-offset: 5px;
            letter-spacing: 0.03em;
          }
          p {
            text-align: center;
            font-size: 15px;
            line-height: 24px;
          }
          .subtitle {
            font-size: 13px;
            font-weight: normal;
          }
        }
        .details {
          .calender {
            @include directionY;
            @include content-center;
            align-items: center;
            font-size: 12px;
            width: 50%;
            p {
              width: 220px;
              text-align: center;
              margin-top: 8%;
            }
            img {
              @include apply-at-sm-md-size {
                width: 35px;
              }
            }
          }
          .btnCalendarWrapper {
            @include content-center;
            border: 2px solid $color-dark-gray;
            padding: 0 10px;
            width: 120px;
            font-size: 12px;
            text-align: center;
            border-radius: 8px;
          }
          .timesWraper {
            @include directionX;
            width: 100%;
            justify-content: space-between;
            .timeMobileWrapper {
              @include directionY;
              justify-content: space-around;
              align-items: center;
              @include content-center;
              text-align: center;
              font-size: 14px;
              .event {
                @include useChewy;
                letter-spacing: 0.1em;
              }
              img {
                width: 35px;
              }
              .time {
                text-decoration-line: underline;
                text-underline-offset: 5px;
              }
            }
          }
        }
        .locationWraper {
          @include directionY;
          @include content-center;
          align-items: center;
          font-size: 12px;
          p {
            width: 100%;
            text-align: center;
          }
          img {
            width: 30px;
          }
        }
        .btnmap {
          @include content-center;
          @include directionX;
          align-items: center;
          justify-content: center;
          padding: 0px 10px;
          border: 2px solid $color-dark-gray;
          cursor: pointer;
          max-width: 145px;
          font-size: 12px;
          height: 30px;
          border-radius: 10px;
          .imageWrapper {
            @include directionX;
            align-items: center;
            justify-content: center;
            img {
              width: 20px;
            }
          }
          p {
            color: $color-broken-white;
            text-decoration: none;
            width: 80%;
            text-align: center;
          }
        }
      }
    }
    .attendingContainer {
      background-color: $color-broken-white;
      color: $color-dark-green;
      .title {
        @include body;
        @include content-center;
        padding-top: 5%;
        color: $color-dark-green;
        font-size: 16px;
        text-align: center;
        text-decoration-line: underline;
        text-underline-offset: 12px;
        text-decoration-color: $color-dark-green;
        margin-bottom: 5%;
        width: 90%;
      }
      .attendingWraper {
        width: 90%;
        @include content-center;
        justify-content: space-between;
        padding-bottom: 5%;
        @include reverseDirectionY;
        .formWraper {
          .dropdownSection {
            @include directionX;
            align-items: center;
            border-bottom: 1px solid $color-dark-green;
            cursor: pointer;
            width: 100%;
            justify-content: space-between;
            .formTitle {
              @include useDamion;
              margin-right: 40%;
              font-size: 15px;
              letter-spacing: 0.1em;
            }
            .icon {
              img {
                width: 12px;
              }
            }
          }
          .formContainer {
            .inputForm {
              margin-top: 6%;
              color: $color-broken-white;
              .inputs {
                @include directionY;
                @include useDamion;
                p {
                  font-size: 12px;
                }
                input {
                  color: $color-broken-white;
                  padding-left: 15px;
                  height: 40px;
                  margin-bottom: 5%;
                  background-color: $color-dark-green;
                  width: 95%;
                  border-radius: 10px;
                  font-size: 11px;
                  border: none;
                }
                textarea {
                  @include useAladin;
                  color: $color-broken-white;
                  padding-left: 15px;
                  padding-top: 30px;
                  background-color: $color-dark-green;
                  font-size: 11px;
                  height: 86px;
                  border-radius: 10px;
                  border: none;
                }
                ::-webkit-input-placeholder {
                  color: $color-broken-white;
                }
                input:focus {
                  outline: none !important;
                  box-shadow: 0 0 8px $color-dark-green;
                }
                textarea:focus {
                  outline: none !important;
                  box-shadow: 0 0 8px $color-dark-green;
                }
              }
            }
            .radiosInput {
              @include directionX;
              justify-content: space-between;
              .inputs {
                @include useDamion;
                @include directionY;
                font-size: 15px;
                width: 180px;
                margin-top: 2%;
                .radioWrapper {
                  width: 100%;
                  @include directionY;
                  .radioItem {
                    @include useAladin;
                    font-size: 13px;
                    margin-right: 10px;
                    accent-color: $color-dark-green;
                    @include directionX;
                    align-items: center;
                    margin: 2% 0;
                    label {
                      font-size: 10px;
                      margin-left: 5%;
                    }
                  }
                }
              }
              .btnSend {
                align-self: flex-end;
                cursor: pointer;
                color: $color-broken-white;
                background-color: $color-dark-green;
                  border: none;
                padding: 0 3%;
                height: 32px;
                font-size: 12px;
                border-radius: 6px;
                font-weight: normal;
              }
            }
          }
          .hide {
            opacity: 0;
            transform: translateY(-4%);
            transition: all 1.5s;
          }
          .show {
            opacity: 1;
            transform: translateY(0);
            transition: all 1.5s;
          }
        }
        .expressionSection {
          @include directionY;
          @include body;
          justify-content: center;
          align-items: center;
          @include apply-at-sm-md-size {
            font-size: 14px;
          }
          img {
            width: 155px;
            margin-bottom: 30px;
            margin-left: 5%;
          }
          .expression {
            text-align: center;
          }
        }
      }
    }
    .messageSectionContainer {
      background-color: $color-dark-green;
      padding-top: 2%;
      .sectionTitle {
        @include content-center;
        @include useChewy;
        text-align: center;
        letter-spacing: 0.1em;
        margin-bottom: 5%;
        font-size: 14px;
        width: 40%;
        text-decoration-line: underline;
        text-underline-offset: 8px;
      }
      .mainContent {
        @include content-center;
        align-items: center;
        justify-content: center;
        @include reverseDirectionY;
        width: 100%;
        .leftSection {
          @include directionY;
          justify-content: center;
          padding: 2rem 0;
          background-image: url("../../static/images/message-icon-bg.png");
          background-size: cover;
          background-repeat: no-repeat;
          object-fit: cover;

          align-items: center;
          width: 100%;
          img {
            width: 170px;
          }
        }
        .rightSection {
          border-radius: 10px;
          width: 100%;
          border: none;
          .imgWrapper {
            width: 100%;
            padding-bottom: 20px;
            .image {
              @include directionX;
              @include content-center;
              width: 95%;
            }
          }
          .messageWrapper {
            height: 360px;
            overflow-y: scroll;
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
            &::-webkit-scrollbar {
              width: 2px;
            }
            &::-webkit-scrollbar-thumb {
              background: $color-gold;
              border-radius: 20px;
            }
            .messageItemWrapper {
              @include directionX;
              overflow-x: hidden;
              align-items: center;
              color: $color-black;
              height: auto;
              @include content-center;
              width: 90%;
              .avatar {
                @include directionX;
                margin: auto;
                align-items: center;
                height: 25px;
                width: 25px;
                margin-right: 5px;
              }
              .messageShape {
                @include directionX;
                width: 95%;
                align-items: center;
                padding-left: 1rem;
                .outerTriangle {
                  width: 0;
                  height: 0;
                  border-top: 23px solid transparent;
                  border-bottom: 23px solid transparent;
                  border-right: 23px solid $color-dark-green;
                  .innerTriangle {
                    position: relative;
                    top: -20px;
                    left: 2px;
                    width: 0;
                    height: 0;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-right: 20px solid $color-broken-white;
                  }
                }
                .messageBubble {
                  margin: 1rem;
                  background-color: $color-broken-white;
                  color: $color-dark-green;
                  border: 1px solid $color-dark-green;
                  border-radius: 6px;
                  text-align: left;
                  padding: 20px;
                  margin-left: -5px;
                  width: 80%;
                  .name {
                    @include useChewy;
                    margin-bottom: 0.5rem;
                    font-size: 12px;
                  }
                  .message {
                    font-size: 14px;
                    letter-spacing: 0.005em;
                  }
                }
              }
            }
          }
        }
      }
    }
    .giftContainer {
      background-color: $color-broken-white;
      color: $color-dark-green;
      padding: 2rem 0;
      .giftWraper {
        width: 100%;
        @include content-center;
        .tittleRibbon {
          .titleGift {
            @include useChewy;
            @include content-center;
            text-align: center;
            font-size: 16px;
            width: 100%;
            text-decoration-line: underline;
            text-underline-offset: 12px;
            border: none;
          }
          .ribbon {
            display: flex;
            margin-top: 8%;
            width: 100%;
            @include content-center;
          }
        }
        .dropdownSection {
          @include content-center;
          @include directionX;
          justify-content: center;
          margin-bottom: 5%;
          width: 30%;
          border-bottom: 1px solid #6E706D;
          cursor: pointer;
            align-items: center;
            .title {
              @include useDamion;
            margin-right: 6%;
            font-size: 14px;
          }
          .icon {
            margin-top: -5px;
            img {
              width: 10px;
              height: 6px;
            }
          }
        }
        .giftInfoWraper {
          @include directionY;
          .imageDetail {
            @include directionY;
            .card {
              display: flex;
              @include content-center;
              margin-bottom: 10%;
              width: 270px;
            }
            .copyWraperTop {
              position: relative;
              @include directionX;
              @include content-center;
              justify-content: center;
              align-items: center;
              margin-bottom: 5%;
              width: 90%;
              .copy {
                position: absolute;
                cursor: pointer;
                width: 100px;
                top: 5px;
              }
              .notifCopyTop {
                position: absolute;
                text-align: center;
                top: 0;
                font-size: 12px;
                left: 210px;
                right: 25px;
              }
            }
          }
          .infoWrapper {
            margin-top: 20px;
            text-align: center;
            @include content-center;
            padding-bottom: 35px;
            width: 90%;
            .infoTitle {
              @include useChewy;
              display: flex;
              @include content-center;
              justify-content: center;
              font-size: 16px;
              text-align: center;
            }
            .infoDetail {
              @include content-center;
              text-align: center;
              font-size: 14px;
            }
            .copyWraper {
              position: relative;
              @include directionX;
              @include content-center;
              justify-content: center;
              align-items: center;
              margin-bottom: 5%;
              .copy {
                position: absolute;
                cursor: pointer;
                width: 100px;
                top: 5px;
              }
              .notifCopy {
                position: absolute;
                top: 0;
                font-size: 12px;
                left: 210px;
                right: 25px;
              }
            }
          }

          .closingStatement {
            @include content-center;
            font-size: 14px;
          }
          .btnConfirmation {
            display: flex;
            @include content-center;
            background-color: $color-dark-green;
            color: $color-broken-white;
            justify-content: center;
            align-items: center;
            padding: 0 5%;
            border-radius: 10px;
            border: 1px solid $color-black;
            margin-bottom: 1%;
            cursor: pointer;
            font-size: 14px;
            min-height: 35px;
            width: 88px;
          }
        }
        .hideGift {
          opacity: 0;
          transition: opacity 2s;
        }
        .closeGift {
          display: none;
        }
        .showGift {
          @include fadeIn;
        }
      }
    }
    .closingSeparator {
      background-color: $color-dark-green;
      padding-top: 5%;
      img {
        width: 340px;
      }
    }
    .closingSectionContainer {
      @include directionY;
      @include useChewy;
      color: $color-dark-green;
      background-color: $color-broken-white;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      .leftSection {
        .invitationLogo {
          width: 300px !important;
        }
      }
      .closingSentenceWrapper {
        @include content-center;
        font-size: 12px;
        width: 100%;
        margin-bottom: 0;
        font-weight: lighter;
      }
    }
    .footerContainer {
      @include directionY;
      background-color: $color-dark-green;
      align-items: center;
      justify-content: space-around;
      padding: 5%;
      .colaborationWrapper {
        @include directionY;
        gap: 10px;
        .colaborationText {
          width: 95px;
        }
        .logo {
          width: 90px;
        }
      }
      .footerTitle {
        margin-top: 10px;
        gap: 10px;
        @include directionX;
        align-items: center;
        justify-content: space-around;
        .colaboration {
          color: $color-dark-brown;
          font-size: 14px;
          line-height: 12px;
        }
        .brand {
          height: 100%;
          width: 90px;
        }
        .contact {
          margin-bottom: 2%;
          width: 25px;
          height: 25px;
        }
      }
    }
    .my-swal {
      z-index: 10000 !important;
    }
    .swal-overlay {
      z-index: 100000000000 !important;
    }
    :host ::ng-deep .swal-overlay {
      z-index: 30000000000 !important;
    }
  }
}
